---
import Layout from "../layouts/Layout.astro";
import HeroAnimado from "../components/HeroAnimado.tsx";
import InvitationPrincipal from "../components/InvitationPrincipal.tsx";
import Contador from "../components/Contador.tsx";
import Ubicacion from "../components/Ubicacion.tsx";
---

<Layout title="Te invito a mis xv años">
	<main>
		{/* PANTALLA 1 (Intro) */}
		{/* Este componente ya es 'min-h-screen' por sí mismo */}
		<HeroAnimado client:load />

		{/* PANTALLA 2 (Hero Principal) */}
		{
			/* * === ¡AQUÍ ESTÁ LA CORRECCIÓN! ===
			 * Volvemos a envolver 'InvitationPrincipal' en una 'section'
			 * que SÍ tiene el 'id="contenido"'.
			 * Ahora el '<a href="#contenido">' de HeroAnimado SÍ funcionará.
			 */
		}
		<section id="contenido">
			<InvitationPrincipal client:visible />
		</section>

		{/* PANTALLA 3 (Contador) */}
		<Contador client:visible />

		{/* PANTALLA 4 (Ubicación) */}
		{/* 2. Lo añadimos aquí. 'client:visible' porque es interactivo */}
		<Ubicacion client:visible />
	</main>
</Layout>
