---
import Layout from "../layouts/Layout.astro";
import HeroAnimado from "../components/HeroAnimado.tsx";
import InvitationPrincipal from "../components/InvitationPrincipal.tsx";
import Contador from "../components/Contador.tsx";
import Ubicacion from "../components/Ubicacion.tsx";
import Padrinos from "../components/Padrinos.tsx";
import Galeria from "../components/Galeria";
---

<Layout title="Te invito a mis xv años">
	<main>
		{/* --- PORTADA (Pantallas completas) --- */}
		<HeroAnimado client:load />
		<section id="contenido">
			<InvitationPrincipal client:visible />
		</section>

		{/* --- INFORMACIÓN (Flujo Único) --- */}
		{
			/* * Esta es la sección de "flujo único".
			 * Tiene el fondo rosa pálido y un 'gap-12' (espacio)
			 * entre cada componente.
			 */
		}
		<section class="bg-brand-light py-16">
			<div class="flex flex-col gap-12">
				{/* Componente 1: Contador */}
				<Contador client:visible />

				{/* Componente 2: Ubicación */}
				<Ubicacion client:visible />

				{/* Componente 3: Personas especiales */}
				<Padrinos client:visible />
			</div>
		</section>
		<section>
			<Galeria client:visible />
		</section>
	</main>
</Layout>
